@page "/approve"
@using Components.Layout.Admin

@layout AdminMainLayout

<div class="pd-5 bg-primary-01 main-container">
    <div class="mgb-10 flex flex-spacebetween">
        <h2>Pending Approvals</h2>
    </div>

    <div class="corner-3 bg-white bd">
        <div class="wf scroll-x">
            <table class="fsz-20 wf scroll">
                <thead class="fw-bold bg-primary-08 cl-white">
                    <tr class="">
                        <td class="pd-5 wx-3">Class</td>
                        <td class="pd-5 wx-3">Class Teacher</td>
                        <td class="pd-5 wx-3">Students</td>
                        <td class="pd-5 wx-3">Submitted On</td>
                        <td class="wx-3 pd-5">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Mr Johnson</td>
                        <td class="pd-5 wx-3 bdb">35</td>
                        <td class="pd-5 wx-3 bdb">12 May 2026</td>
                        <td class="pd-5 wx-3 bdb">
                            @if (ifApproveConfirmed)
                            {
                                @if (ifApprove)
                                {
                                    <button
                                    class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-checkbox-marked-outline  cl-primary-01"
                                    @onclick="IfApprove"></button>
                                }
                                else
                                {
                                    @if (ifApprove && ifApproveConfirmed)
                                    {
                                        <button
                                        class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-checkbox-marked-outline cl-success"
                                        @onclick="IfApprove"></button>
                                    }
                                    else
                                    {
                                        <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-checkbox-marked-outline"
                                                @onclick="IfApprove"></button>
                                    }
                                }
                            }

                            @if (ifRejectConfirmed)
                            {
                                @if (ifReject)
                                {

                                    <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-cancel cl-primary-01"
                                            @onclick="IfReject"></button>
                                }
                                else
                                {
                                    @if (ifReject)
                                    {
                                        <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-cancel cl-fatal"
                                                @onclick="IfReject"></button>
                                    }
                                    else
                                    {
                                        <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-cancel cl-primary-01"
                                                @onclick="IfReject"></button>
                                    }
                                }
                            }

                            <button @onclick="IfViewResult"
                                    class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Mr Johnson</td>
                        <td class="pd-5 wx-3 bdb">35</td>
                        <td class="pd-5 wx-3 bdb">12 May 2026</td>
                        @* <td class="pd-5 wx-3">
                            <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-content-save cl-success"
                                    @onclick="Edit"></button>
                            <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-cancel cl-fatal"
                                    @onclick="Edit"></button>
                            <button @onclick="Delete"
                                    class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"></button>
                        </td> *@
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Mr Johnson</td>
                        <td class="pd-5 wx-3 bdb">35</td>
                        <td class="pd-5 wx-3 bdb">12 May 2026</td>
                        @* <td class="pd-5 wx-3">
                            <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-content-save cl-success"
                                    @onclick="Edit"></button>
                            <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-cancel cl-fatal"
                                    @onclick="Edit"></button>
                            <button @onclick="Delete"
                                    class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"></button>
                        </td> *@
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Mr Johnson</td>
                        <td class="pd-5 wx-3 bdb">35</td>
                        <td class="pd-5 wx-3 bdb">12 May 2026</td>
                        @* <td class="pd-5 wx-3">
                            <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-content-save cl-success"
                                    @onclick="Edit"></button>
                            <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-cancel cl-fatal"
                                    @onclick="Edit"></button>
                            <button @onclick="Delete"
                                    class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"></button>
                        </td> *@
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Mr Johnson</td>
                        <td class="pd-5 wx-3 bdb">35</td>
                        <td class="pd-5 wx-3 bdb">12 May 2026</td>
                        @* <td class="pd-5 wx-3">
                            <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-content-save cl-success"
                                    @onclick="ApproveResult"></button>
                            <button class="mgr-5 fsz-25 bg-transparent bd-none actbtn mdi mdi-cancel cl-fatal"
                                    @onclick="RejectResult"></button>
                            <button @onclick="ViewResults"
                                    class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"></button>
                        </td> *@
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mgb-5">
    <Pagination />
</div>

@if (ifViewResult)
{
    <div class="formpage">
        <ViewResult OnCancel="CancelPreviewResult" />
    </div>
}

@if (ifApprove)
{
    <div class="formpage">
        <DeleteModal ModalText="Sure to approve result?" ConfirmDelete="ConfirmApprove" ConfirmCancel="CancelApprove" />
    </div>
}
@if (ifReject)
{
    <div class="formpage">
        <DeleteModal ModalText="Sure to reject result?" ConfirmDelete="ConfirmReject" ConfirmCancel="CancelReject" />
    </div>
}
@* @if (ifViewResult)
{
    <div class="formpage">
        <DeleteModal ModalText="Sure to delete student?" ConfirmDelete="Confirm" ConfirmCancel="Cancel" />
    </div>
} *@

@code {
    private bool ifApprove = false;
    private bool ifApproveConfirmed = true;
    private bool ifReject = false;
    private bool ifRejectConfirmed = true;
    private bool ifViewResult = false;

    private void IfApprove()
    {
        ifApprove = !ifApprove;
    }

    private void IfReject()
    {
        ifReject = !ifReject;
    }

    private void IfViewResult()
    {
        ifViewResult = !ifViewResult;
    }

    private void ConfirmApprove()
    {
        ifApprove = false;
        ifApproveConfirmed = true;
    }

    private void CancelApprove()
    {
        ifApprove = false;
    }

    private void ConfirmReject()
    {
        ifReject = false;
    }

    private void CancelReject()
    {
        ifReject = false;
    }

    private void CancelPreviewResult()
    {
        ifViewResult = false;
    }
}