@page "/"
@using Components.Layout.Admin
@using cel.Components.Pages.forms
@inject NavigationManager Nav

@layout AdminMainLayout

<div class="pd-5 bg-primary-01 main-container">
    <div class="mgb-10">
        <h2>Welcome, Administrator 🖐️</h2>
        <p>Here's what's happening in your school today.</p>
    </div>

    <div class="row responsive col-3 mgb-10">
        <div class="miwx-25">
            <StatCard Title="1234" Subtitle="Students" ImgPng="icons/seedoflife.svg" />
        </div>
        <div class="miwx-25">
            <StatCard Title="58" Subtitle="Teachers" ImgPng="icons/teacher1.svg" />
        </div>
        <div class="miwx-25">
            <StatCard Title="24" Subtitle="Classes" ImgPng="icons/class.svg" />
        </div>
        <div class="miwx-25">
            <StatCard Title="207" Subtitle="Approved Results" ImgPng="icons/success.svg" />
        </div>
        <div class="miwx-25">
            <StatCard Title="37" Subtitle="Declined Results" ImgPng="icons/decline.svg" />
        </div>
        <div class="miwx-25">
            <StatCard Title="132" Subtitle="Pending Approvals" ImgPng="icons/pending.svg" />
        </div>
    </div>

    <div class="row responsive col-3 corner-3 bg-white pd bd">
        <div class="mgb miwx-25 pd">
            <h3>Result Status Overview</h3>
            <hr />
            <div class="row responsive col-3">
                <div class="hw-4 miwx-25 svgadmin pd">
                    <svg width="244" height="245" viewBox="0 0 244 245" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                        d="M244 124.5C244 140.324 240.883 155.994 234.827 170.613C228.772 185.233 219.896 198.517 208.706 209.706C197.517 220.896 184.233 229.772 169.613 235.827C154.994 241.883 139.324 245 123.5 245L123.5 124.5L244 124.5Z"
                        fill="#C7D31A" />
                        <path
                        d="M123 -7.62939e-06C138.824 -7.62939e-06 154.494 3.11682 169.113 9.17251C183.733 15.2282 197.017 24.1042 208.206 35.2936C219.396 46.4831 228.272 59.7669 234.327 74.3866C240.383 89.0064 243.5 104.676 243.5 120.5L123 120.5L123 -7.62939e-06Z"
                        fill="#C714BB" />
                        <path
                        d="M120.5 244.5C104.676 244.5 89.0064 241.383 74.3866 235.327C59.7669 229.272 46.4831 220.396 35.2936 209.206C24.1042 198.017 15.2282 184.733 9.17252 170.113C3.11682 155.494 -6.91702e-07 139.824 0 124L120.5 124L120.5 244.5Z"
                        fill="#2DA715" />
                        <path
                        d="M-3.8147e-06 121.5C-3.8147e-06 105.676 3.11682 90.0064 9.17251 75.3866C15.2282 60.7669 24.1042 47.4831 35.2936 36.2936C46.4831 25.1042 59.7669 16.2282 74.3866 10.1725C89.0064 4.11682 104.676 0.999999 120.5 1L120.5 121.5L-3.8147e-06 121.5Z"
                        fill="#FF0000" />
                        <circle cx="123.5" cy="124.5" r="90.5" fill="white" />
                        <path
                        d="M106.761 125.199C106.013 125.194 105.291 125.069 104.595 124.822C103.904 124.576 103.284 124.176 102.734 123.622C102.185 123.068 101.75 122.334 101.428 121.42C101.11 120.507 100.952 119.384 100.952 118.054C100.956 116.832 101.096 115.741 101.371 114.78C101.65 113.814 102.048 112.995 102.564 112.322C103.085 111.65 103.707 111.139 104.432 110.788C105.156 110.433 105.968 110.256 106.868 110.256C107.839 110.256 108.696 110.445 109.439 110.824C110.182 111.198 110.779 111.707 111.229 112.351C111.683 112.995 111.958 113.717 112.053 114.517H109.02C108.902 114.01 108.653 113.613 108.274 113.324C107.895 113.035 107.427 112.891 106.868 112.891C105.921 112.891 105.201 113.303 104.709 114.126C104.221 114.95 103.973 116.07 103.963 117.486H104.062C104.28 117.055 104.574 116.688 104.943 116.385C105.317 116.077 105.741 115.843 106.214 115.682C106.693 115.516 107.197 115.433 107.727 115.433C108.589 115.433 109.356 115.637 110.028 116.044C110.701 116.446 111.231 117 111.619 117.706C112.008 118.411 112.202 119.219 112.202 120.128C112.202 121.113 111.972 121.989 111.513 122.756C111.058 123.523 110.421 124.124 109.602 124.56C108.788 124.991 107.841 125.204 106.761 125.199ZM106.747 122.784C107.221 122.784 107.644 122.67 108.018 122.443C108.393 122.216 108.686 121.908 108.899 121.52C109.112 121.132 109.219 120.696 109.219 120.213C109.219 119.73 109.112 119.297 108.899 118.913C108.691 118.53 108.402 118.224 108.033 117.997C107.663 117.77 107.242 117.656 106.768 117.656C106.413 117.656 106.084 117.723 105.781 117.855C105.483 117.988 105.22 118.172 104.993 118.409C104.77 118.646 104.595 118.92 104.467 119.233C104.339 119.541 104.276 119.87 104.276 120.22C104.276 120.689 104.382 121.117 104.595 121.506C104.813 121.894 105.107 122.204 105.476 122.436C105.85 122.668 106.274 122.784 106.747 122.784ZM119.808 125.199C118.714 125.199 117.741 125.021 116.889 124.666C116.042 124.306 115.376 123.816 114.893 123.196C114.411 122.576 114.169 121.873 114.169 121.087C114.169 120.481 114.306 119.924 114.581 119.418C114.86 118.906 115.239 118.482 115.717 118.146C116.196 117.805 116.731 117.588 117.322 117.493V117.393C116.546 117.237 115.916 116.861 115.433 116.264C114.95 115.663 114.709 114.964 114.709 114.169C114.709 113.416 114.929 112.746 115.369 112.159C115.81 111.567 116.413 111.103 117.18 110.767C117.952 110.426 118.828 110.256 119.808 110.256C120.788 110.256 121.662 110.426 122.429 110.767C123.201 111.108 123.807 111.574 124.247 112.166C124.688 112.753 124.91 113.421 124.915 114.169C124.91 114.969 124.664 115.668 124.176 116.264C123.688 116.861 123.063 117.237 122.301 117.393V117.493C122.884 117.588 123.411 117.805 123.885 118.146C124.363 118.482 124.742 118.906 125.021 119.418C125.305 119.924 125.45 120.481 125.455 121.087C125.45 121.873 125.206 122.576 124.723 123.196C124.24 123.816 123.572 124.306 122.72 124.666C121.873 125.021 120.902 125.199 119.808 125.199ZM119.808 122.94C120.296 122.94 120.722 122.853 121.087 122.678C121.451 122.498 121.735 122.251 121.939 121.939C122.147 121.622 122.251 121.257 122.251 120.845C122.251 120.424 122.145 120.052 121.932 119.73C121.719 119.403 121.43 119.148 121.065 118.963C120.701 118.774 120.282 118.679 119.808 118.679C119.339 118.679 118.92 118.774 118.551 118.963C118.182 119.148 117.891 119.403 117.678 119.73C117.469 120.052 117.365 120.424 117.365 120.845C117.365 121.257 117.467 121.622 117.67 121.939C117.874 122.251 118.161 122.498 118.53 122.678C118.899 122.853 119.325 122.94 119.808 122.94ZM119.808 116.442C120.215 116.442 120.578 116.359 120.895 116.193C121.212 116.027 121.461 115.798 121.641 115.504C121.821 115.211 121.911 114.872 121.911 114.489C121.911 114.11 121.821 113.778 121.641 113.494C121.461 113.205 121.214 112.981 120.902 112.82C120.589 112.654 120.225 112.571 119.808 112.571C119.396 112.571 119.032 112.654 118.714 112.82C118.397 112.981 118.149 113.205 117.969 113.494C117.794 113.778 117.706 114.11 117.706 114.489C117.706 114.872 117.796 115.211 117.976 115.504C118.156 115.798 118.404 116.027 118.722 116.193C119.039 116.359 119.401 116.442 119.808 116.442ZM133.308 125.32C132.086 125.315 131.035 125.014 130.154 124.418C129.279 123.821 128.604 122.957 128.13 121.825C127.662 120.694 127.43 119.332 127.434 117.741C127.434 116.155 127.669 114.804 128.137 113.686C128.611 112.569 129.286 111.719 130.162 111.136C131.042 110.549 132.091 110.256 133.308 110.256C134.525 110.256 135.571 110.549 136.447 111.136C137.328 111.723 138.005 112.576 138.478 113.693C138.952 114.806 139.186 116.155 139.181 117.741C139.181 119.337 138.945 120.701 138.471 121.832C138.002 122.964 137.33 123.828 136.454 124.425C135.578 125.021 134.529 125.32 133.308 125.32ZM133.308 122.77C134.141 122.77 134.806 122.351 135.304 121.513C135.801 120.675 136.047 119.418 136.042 117.741C136.042 116.638 135.929 115.72 135.701 114.986C135.479 114.252 135.162 113.7 134.75 113.331C134.342 112.962 133.862 112.777 133.308 112.777C132.479 112.777 131.816 113.191 131.319 114.02C130.822 114.848 130.571 116.089 130.566 117.741C130.566 118.859 130.678 119.792 130.9 120.54C131.127 121.283 131.447 121.842 131.859 122.216C132.271 122.585 132.754 122.77 133.308 122.77Z"
                        fill="black" />
                        <path
                        d="M104.676 129.912V128.818H112.312V129.912H109.111V139H107.878V129.912H104.676ZM116.051 139.159C115.362 139.159 114.757 138.995 114.237 138.667C113.719 138.339 113.315 137.88 113.023 137.29C112.735 136.7 112.591 136.01 112.591 135.222C112.591 134.426 112.735 133.732 113.023 133.138C113.315 132.545 113.719 132.085 114.237 131.756C114.757 131.428 115.362 131.264 116.051 131.264C116.741 131.264 117.344 131.428 117.861 131.756C118.381 132.085 118.786 132.545 119.074 133.138C119.366 133.732 119.511 134.426 119.511 135.222C119.511 136.01 119.366 136.7 119.074 137.29C118.786 137.88 118.381 138.339 117.861 138.667C117.344 138.995 116.741 139.159 116.051 139.159ZM116.051 138.105C116.575 138.105 117.006 137.971 117.344 137.702C117.682 137.434 117.932 137.081 118.094 136.643C118.257 136.206 118.338 135.732 118.338 135.222C118.338 134.711 118.257 134.236 118.094 133.795C117.932 133.354 117.682 132.998 117.344 132.726C117.006 132.454 116.575 132.318 116.051 132.318C115.527 132.318 115.097 132.454 114.759 132.726C114.42 132.998 114.17 133.354 114.008 133.795C113.845 134.236 113.764 134.711 113.764 135.222C113.764 135.732 113.845 136.206 114.008 136.643C114.17 137.081 114.42 137.434 114.759 137.702C115.097 137.971 115.527 138.105 116.051 138.105ZM124.623 131.364V132.358H120.666V131.364H124.623ZM121.819 129.534H122.993V136.812C122.993 137.144 123.041 137.393 123.137 137.558C123.236 137.721 123.362 137.83 123.515 137.886C123.671 137.939 123.835 137.966 124.007 137.966C124.136 137.966 124.242 137.959 124.325 137.946C124.408 137.929 124.474 137.916 124.524 137.906L124.763 138.96C124.683 138.99 124.572 139.02 124.43 139.05C124.287 139.083 124.106 139.099 123.888 139.099C123.556 139.099 123.231 139.028 122.913 138.886C122.598 138.743 122.336 138.526 122.128 138.234C121.922 137.943 121.819 137.575 121.819 137.131V129.534ZM128.635 139.179C128.152 139.179 127.712 139.088 127.318 138.906C126.924 138.72 126.61 138.453 126.378 138.105C126.146 137.754 126.03 137.33 126.03 136.832C126.03 136.395 126.117 136.04 126.289 135.768C126.461 135.493 126.692 135.278 126.98 135.122C127.268 134.966 127.586 134.85 127.934 134.774C128.286 134.695 128.639 134.632 128.993 134.585C129.457 134.526 129.834 134.481 130.122 134.451C130.414 134.418 130.626 134.363 130.758 134.287C130.894 134.211 130.962 134.078 130.962 133.889V133.849C130.962 133.359 130.828 132.978 130.559 132.706C130.294 132.434 129.892 132.298 129.351 132.298C128.791 132.298 128.352 132.421 128.034 132.666C127.716 132.911 127.492 133.173 127.363 133.452L126.249 133.054C126.448 132.59 126.713 132.229 127.045 131.97C127.379 131.708 127.744 131.526 128.138 131.423C128.536 131.317 128.927 131.264 129.312 131.264C129.557 131.264 129.839 131.294 130.157 131.354C130.478 131.41 130.788 131.528 131.086 131.707C131.388 131.886 131.638 132.156 131.837 132.517C132.036 132.878 132.135 133.362 132.135 133.969V139H130.962V137.966H130.903C130.823 138.132 130.69 138.309 130.505 138.498C130.319 138.687 130.072 138.848 129.764 138.98C129.456 139.113 129.08 139.179 128.635 139.179ZM128.814 138.125C129.278 138.125 129.67 138.034 129.988 137.852C130.309 137.669 130.551 137.434 130.714 137.146C130.879 136.857 130.962 136.554 130.962 136.236V135.162C130.912 135.222 130.803 135.276 130.634 135.326C130.468 135.372 130.276 135.414 130.057 135.45C129.842 135.483 129.631 135.513 129.426 135.54C129.224 135.563 129.06 135.583 128.934 135.599C128.629 135.639 128.344 135.704 128.079 135.793C127.817 135.879 127.605 136.01 127.442 136.186C127.283 136.358 127.204 136.594 127.204 136.892C127.204 137.3 127.354 137.608 127.656 137.817C127.961 138.022 128.347 138.125 128.814 138.125ZM135.45 128.818V139H134.277V128.818H135.45Z"
                        fill="black" />
                    </svg>

                </div>
                <div class="miwx-25">
                    <div class="mgb-3 mgt-3">
                        <p class="fsz-15 mg-0">🟢 Published</p>
                        <p class="bg-primary-01 pd text-center fw-bold fsz-25 mg-0">320</p>
                    </div>
                    <div class="mgb-3 mgt-3">
                        <p class="fsz-15 mg-0">🟡 Pending Approval</p>
                        <p class="bg-primary-01 pd text-center fw-bold fsz-25 mg-0">132</p>
                    </div>
                    <div class="mgb-3 mgt-3">
                        <p class="fsz-15 mg-0">🟣 Draft</p>
                        <p class="bg-primary-01 pd text-center fw-bold fsz-25 mg-0">210</p>
                    </div>
                    <div class="mgb-3 mgt-3">
                        <p class="fsz-15 mg-0">🔴 Rejected</p>
                        <p class="bg-primary-01 pd text-center fw-bold fsz-25 mg-0">18</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="miwx-15 pd">
            <h3>Quick Actions</h3>
            <hr />
            <div class="pd">
                <Button BtnIcon="➕" BtnText="Add Student" OnClick="ShowStudentForm" />
                <Button BtnIcon="➕" BtnText="Add Teacher" OnClick="ShowTeacherForm" />
                <Button BtnIcon="➕" BtnText="Create Class" OnClick="ShowClassForm" />
                <Button BtnIcon="➕" BtnText="Create Subject" OnClick="ShowSubjectForm" />
                <Button BtnIcon="➕" BtnText="Approve Results" OnClick="ApproveResults" />
            </div>
        </div>
    </div>
</div>

@if (showStudentForm)
{
    <div class="formpage">
        <Studentform OnCancel="CancelStudentForm" OnAdd="AddStudentForm" />
    </div>
}

@if (showTeacherForm)
{
    <div class="formpage">
        <Teacherform OnCancel="CancelTeacherForm" OnAdd="AddTeacherForm" />
    </div>
}

@if (showClassForm)
{
    <div class="formpage">
        <Classform OnCancel="CancelClassForm" OnAdd="AddClassForm" />
    </div>
}

@if (showSubjectForm)
{
    <div class="formpage">
        <Subjectform OnCancel="CancelSubjectForm" OnAdd="AddSubjectForm" />
    </div>
}

@code {
    private bool showStudentForm = false;
    private bool showTeacherForm = false;
    private bool showClassForm = false;
    private bool showSubjectForm = false;

    private void ShowStudentForm()
    {
        showStudentForm = !showStudentForm;
    }

    private void CancelStudentForm()
    {
        showStudentForm = false;
    }

    private void AddStudentForm()
    {
        showStudentForm = false;
    }

    private void ShowTeacherForm()
    {
        showTeacherForm = !showTeacherForm;
    }

    private void CancelTeacherForm()
    {
        showTeacherForm = false;
    }

    private void AddTeacherForm()
    {
        showTeacherForm = false;
    }

    private void ShowClassForm()
    {
        showClassForm = !showClassForm;
    }

    private void CancelClassForm()
    {
        showClassForm = false;
    }

    private void AddClassForm()
    {
        showClassForm = false;
    }

    private void ShowSubjectForm()
    {
        showSubjectForm = !showSubjectForm;
    }

    private void CancelSubjectForm()
    {
        showSubjectForm = false;
    }

    private void AddSubjectForm()
    {
        showSubjectForm = false;
    }

    private void ApproveResults()
    {
        Nav.NavigateTo("/approve");
    }
}