@page "/subjects"
@using Components.Layout.Admin
@using cel.Components.Pages.forms
@inject NavigationManager Nav

@layout AdminMainLayout

<div class="pd-5 bg-primary-01 main-container">
    <div class="mgb-10 flex flex-spacebetween">
        <h2>Subjects</h2>
        <div class="bg-primary corner-3 flex align-center">
            <button class="bg-primary cl-white pdt-2 pdb-2 pdl-20 pdr-20 corner-2 bd-none fsz-18 fw-bold buttonani" @onclick="ShowModal">Add
                Subject</button>
            </div>
        </div>

        <div class="corner-3 bg-white pd-0 bd">
            <div class="flex flex-spacebetween mg-5">
                <div class="flex">
                    <label for="class" class="mgr-3 mgt-3">Filter by:</label>
                    <select name="" id="" class="mgr-3 bd-none bg-primary-01 pd bd">
                        <option value="Select class...">Select Subject</option>
                        <option value="JSS 1">Mathematics</option>
                        <option value="JSS 2">English</option>
                        <option value="JSS 3">Biology</option>
                        <option value="SS 1">Chemistry</option>
                    </select>
                    <select name="" id="" class="mgr-3 bd-none bg-primary-01 pd bd">
                        <option value="Arm">Select Code</option>
                        <option value="A">MTH001</option>
                        <option value="B">ENG001</option>
                        <option value="C">BIO001</option>
                        <option value="D">CHM001</option>
                    </select>
                    <button class="mgr-3 bd-none bg-primary-01 pd bd">Filter</button>
                </div>

                <div class="">
                    <input class="pd-5 corner-3 bd wx-3" type="text" placeholder="🔍 Search Students...">
                </div>
            </div>

            <div class="wf scroll-x">
                <table class="fsz-20 wf scroll">
                    <thead class="fw-bold bg-primary-08 cl-white">
                        <tr class="">
                            <td class="pd-5 wx-3">Subject Name</td>
                            <td class="pd-5 wx-3">Subject Code</td>
                            <td class="pd-5 wx-3">Type</td>
                            <td class="wx-3 pd-5">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pd-5 wx-3 bdb">Mathematics</td>
                            <td class="pd-5 wx-3 bdb">MTH001</td>
                            <td class="pd-5 wx-3 bdb">Core</td>
                            <td class="pd-5 wx-3 bdb">
                                <button class="mgr-5 fsz-35 bg-transparent bd-none editbutton mdi mdi-pencil"
                                        @onclick="Edit"></button>
                                <button @onclick="ShowDelete"
                                        class="fsz-35 bg-transparent bd-none delbutton mdi mdi-delete"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="pd-5 wx-3 bdb">Mathematics</td>
                            <td class="pd-5 wx-3 bdb">MTH001</td>
                            <td class="pd-5 wx-3 bdb">Core</td>
                            <td class="pd-5 wx-3 bdb">
                                <button class="mgr-5 fsz-35 bg-transparent bd-none editbutton mdi mdi-pencil"
                                        @onclick="Edit"></button>
                                <button @onclick="ShowDelete"
                                        class="fsz-35 bg-transparent bd-none delbutton mdi mdi-delete"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="pd-5 wx-3 bdb">Mathematics</td>
                            <td class="pd-5 wx-3 bdb">MTH001</td>
                            <td class="pd-5 wx-3 bdb">Core</td>
                            <td class="pd-5 wx-3 bdb">
                                <button class="mgr-5 fsz-35 bg-transparent bd-none editbutton mdi mdi-pencil"
                                        @onclick="Edit"></button>
                                <button @onclick="ShowDelete"
                                        class="fsz-35 bg-transparent bd-none delbutton mdi mdi-delete"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="pd-5 wx-3 bdb">Mathematics</td>
                            <td class="pd-5 wx-3 bdb">MTH001</td>
                            <td class="pd-5 wx-3 bdb">Core</td>
                            <td class="pd-5 wx-3 bdb">
                                <button class="mgr-5 fsz-35 bg-transparent bd-none editbutton mdi mdi-pencil"
                                        @onclick="Edit"></button>
                                <button @onclick="ShowDelete"
                                        class="fsz-35 bg-transparent bd-none delbutton mdi mdi-delete"></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="pd-5 wx-3 bdb">Mathematics</td>
                            <td class="pd-5 wx-3 bdb">MTH001</td>
                            <td class="pd-5 wx-3 bdb">Core</td>
                            <td class="pd-5 wx-3 bdb">
                                <button class="mgr-5 fsz-35 bg-transparent bd-none editbutton mdi mdi-pencil"
                                        @onclick="Edit"></button>
                                <button @onclick="ShowDelete"
                                        class="fsz-35 bg-transparent bd-none delbutton mdi mdi-delete"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mgb-5">
        <Pagination />
    </div>

    @if (showModal)
    {
        <div class="formpage">
            <Subjectform OnCancel="Cancel" OnAdd="AddSubject" />
        </div>
    }

    @if (ifDelete)
    {
        <div class="formpage">
            <DeleteModal ModalText="Sure to delete subject?" ConfirmDelete="Delete" ConfirmCancel="CancelDelete" />
        </div>
    }
  

@code {
    private bool showModal = false;
    private bool ifDelete = false;

    private void ShowModal()
    {
        showModal = !showModal;
    }

    private void Cancel()
    {
        showModal = false;
    }

    private void AddSubject()
    {
        showModal = false;
    }

    private void Edit()
    {
        showModal = true;
    }

    private void ShowDelete()
    {
        ifDelete = !ifDelete;
    }

    private void Delete()
    {
        ifDelete = false;
    }

    private void CancelDelete()
    {
        ifDelete = false;
    }
}