<div class="pd-5 bg-primary-05 main-container">
    <div class="flex flex-end mgb-5">
        <button class="pd-3 mdi mdi-cancel bd-none fsz-30 fw-bold" @onclick="HandleCancel"></button>
    </div>

    <div class="mgb-10 flex flex-spacebetween bg-white pdl-10">
        <h2>JSS 1 A - Result - First Term</h2>
    </div>

    <div class="corner-3 bg-white pd-0 bd">
        <div class="flex flex-spacebetween mg-5">
            <div></div>
            <input class="pd-5 corner-3 bd wx-3" type="text" placeholder="🔍 Search Student...">
        </div>

        <div class="wf scroll hx-5">
            <table class="fsz-20 wf scroll">
                <thead class="fw-bold bg-primary-08 cl-white">
                    <tr class="">
                        <td class="pd-5 wx-3 bg-primary-01">S/N</td>
                        <td class="pd-5 wx-3">Class Name</td>
                        <td class="wx-3 pd-5">Student Name</td>
                        <td class="wx-3 pd-5">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 bdb">
                            <button class="fsz-25 bg-transparent bd-none actbtn mdi mdi-eye cl-primary"
                                    @onclick="PreviewResult"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (previewResult)
{
    <div class="formpage">
        <PdfPreview OnCancel="Cancel" />
    </div>
}

@code {
    private bool previewResult = false;
    [Parameter] public EventCallback OnCancel { get; set; }

    private void HandleCancel()
    {
        OnCancel.InvokeAsync();
    }

    private void PreviewResult()
    {
        previewResult = !previewResult;
    }

    private void Cancel()
    {
        previewResult = false;
    }
}