<div class="pos-fix t-0 l-0 r-0 b-0 flex align-center align-justify">
    <div>
        <button @onclick="HandleClick">@Camcel</button>
        <div>
            @ContentHead
        </div>
        <div>
            @ContentBody
        </div>
        <div>
            @ContentFoot
        </div>
    </div>
</div>

@code {
    [Parameter] public string Camcel { get; set; } = "";
    [Parameter] public RenderFragment? ContentHead { get; set; } = null;
    [Parameter] public RenderFragment? ContentBody { get; set; } = null;
    [Parameter] public RenderFragment? ContentFoot { get; set; } = null;
    [Parameter] public EventCallback OnClick { get; set; }

    public async Task HandleClick()
    {
        await OnClick.InvokeAsync();
    }
}