<div class="pd-5 bg-white">
    <div class="wf fsz-20 mgt-5 flex flex-spacebetween flow">
        <div>
            <p>Showing
                <span class="fw-bold pd-3">@range1</span>to
                <span class="fw-bold pd-3">@range5</span>of
                <span class="fw-bold pd-3">@classNo</span>classes
            </p>
        </div>
        <div>
            <button class="bd pd-5 corner-2 bg-primary-01 mdi mdi-less-than actbtn fsz-25 mgb-2"></button>
            <button class="bd pd-5 corner-2 bg-primary-01 mdi actbtn fsz-25 mgb-2">1</button>
            <button class="bd pd-5 corner-2 bg-primary-01 mdi actbtn fsz-25 mgb-2">2</button>
            <button class="bd pd-5 corner-2 bg-primary-01 mdi actbtn fsz-25 mgb-2">3</button>
            <button class="bd pd-5 corner-2 bg-primary-01 mdi actbtn fsz-25 mgb-2">4</button>
            <button class="bd pd-5 corner-2 bg-primary-01 mdi actbtn fsz-25 mgb-2">5</button>
            <button class="bd pd-5 corner-2 bg-primary-01 mdi mdi-greater-than actbtn fsz-25"></button>
        </div>
    </div>
</div>

@code {
    int range1 = 1;
    private int range5 = 5;
    private int classNo = 24;

    private void CreateSubject()
    {

    }

    private void Edit()
    {

    }

    private void Delete()
    {

    }
}