<div class="wx-3">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">cel</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="nav flex-column navadj">
            <div class="nav-item px-3">
                <NavLink class="nav-link navlink2" href="tdashboard" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu nav" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link navlink2" href="myclasses">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> My Classes
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link navlink2" href="mysubjects">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> My Subjects
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link navlink2" href="Scoreentry">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Score Entry
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link navlink2" href="submittedscores">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Submitted Scores
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link navlink2" href="teacherprofile">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Profile
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link navlink2" href="tsettings">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Settings
                </NavLink>
            </div>
        </nav>
    </div>


</div>