@page "/Scoreentry"
@using Components.Layout.Teacher

@layout TeacherMainLayout

<div class="pd-5 bg-primary-01 main-container">
    <div class="mgb-10 flex flex-spacebetween">
        <div class="corner-3 bg-white pd-0 bd">
            <div class="flex flex-spacebetween mg-5 align-center">
                <div class="flex align-center">
                    <select name="" id="" class="wx-15 bd-none bg-primary-01 pdl-3 pdr-3 corner-3 fsz-17 mgr-3">
                        <option value="JSS 1">JSS 1</option>
                        <option value="JSS 1">JSS 2</option>
                        <option value="JSS 1">JSS 3</option>
                        <option value="JSS 1">SS 1</option>
                        <option value="JSS 1">SS 2</option>
                        <option value="JSS 1">SS 3</option>
                    </select>
                    <select name="" id="" class="wx-15 bd-none bg-primary-01 pdl-3 pdr-3 corner-3 fsz-17 mgr-3">
                        <option value="Mathematics">Mathematics</option>
                        <option value="English">English</option>
                        <option value="Biology">Biology</option>
                    </select>
                    <select name="" id="" class="wx-15 bd-none bg-primary-01 pdl-3 pdr-3 corner-3 fsz-17">
                        <option value="First Term">First Term</option>
                        <option value="Second Term">Second Term</option>
                        <option value="Third Term">Third TERM</option>
                    </select>
                </div>
                <div class="flex align-center">
                    <div class="wx-02 hx-02 round bg-success mgr-3 mgt-6"></div>
                    <p class="fsz-17">Auto-saved 10:10 AM</p>
                </div>
            </div>

            <div class="wf scroll-x">
                <table class="fsz-20 wf scroll">
                    <thead class="fw-bold bg-primary-08 cl-white">
                        <tr class="">
                            <td class="pd-5 wx-3">S/N</td>
                            <td class="wx-3 pd-5">Student Name</td>
                            <td class="wx-3 pd-5">CA 1 (20)</td>
                            <td class="wx-3 pd-5">CA 2 (20)</td>
                            <td class="wx-3 pd-5">Text (20)</td>
                            <td class="wx-3 pd-5">Exam (40)</td>
                            <td class="wx-3 pd-5">Total (100)</td>
                            <td class="wx-3 pd-5">Grade</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                            <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <select name="" id="" class="pd bd-none bg-primary-01 fsz-20 text-center wf">
                                    <option value="A">A</option>
                                    <option value="A">A+</option>
                                    <option value="A">B</option>
                                    <option value="A">C</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                            <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <select name="" id="" class="pd bd-none bg-primary-01 fsz-20 text-center wf">
                                    <option value="A">A</option>
                                    <option value="A">A+</option>
                                    <option value="A">B</option>
                                    <option value="A">C</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                            <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <select name="" id="" class="pd bd-none bg-primary-01 fsz-20 text-center wf">
                                    <option value="A">A</option>
                                    <option value="A">A+</option>
                                    <option value="A">B</option>
                                    <option value="A">C</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                            <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <select name="" id="" class="pd bd-none bg-primary-01 fsz-20 text-center wf">
                                    <option value="A">A</option>
                                    <option value="A">A+</option>
                                    <option value="A">B</option>
                                    <option value="A">C</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                            <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <input type="number" class="pd bd-none fsz-20 text-center" />
                            </td>
                            <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                                <select name="" id="" class="pd bd-none bg-primary-01 fsz-20 text-center wf">
                                    <option value="A">A</option>
                                    <option value="A">A+</option>
                                    <option value="A">B</option>
                                    <option value="A">C</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="wf fsz-20 mgt-5 flex flex-spacebetween flow">
        
    </div>
</div>

<div class="wf fsz-20 mgt-10 flex flex-spacebetween flow">
    <button class="pdl-10 pdr-10 pdt-5 pdb-5 cl-primary bd-none bd bg-transparent bd-primary corner-2 fsz-25 mgb-5">Add Student</button>
    <div>
        <button class="pdl-10 pdr-10 pdt-5 pdb-5 cl-primary bd-none bd bg-transparent bd-primary corner-2 fsz-25 mgb-5">Save Draft</button>
        <button class="pdl-10 pdr-10 pdt-5 pdb-5 cl-white bd-none bg-success corner-2 fsz-25">Submit to Approve</button>
    </div>
</div>

@* @code {
    private int range1 = 1;
    private int range5 = 5;
    private int classNO = 24;

    private void CreateClass()
    {

    }

    private void Edit()
    {

    }

    private void Delete()
    {

    }

    private void GoTOScoreEntry()
    {

    }
} *@