<div class="pd-5 bg-primary-05 main-container">
    <div class="flex flex-end mgb-5">
        <button class="pd-3 mdi mdi-cancel bd-none fsz-30 fw-bold" @onclick="HandleCancel"></button>
    </div>

    <div class="mgb-10 flex flex-spacebetween bg-white pdl-10">
        <h2>JSS 1 A - Students - Mathematics</h2>
    </div>

    <div class="corner-3 bg-white pd-0 bd">
        <div class="flex flex-spacebetween mg-5">
            <div class="flex">
                <label for="class" class="mgr-3 mgt-3">Filter by:</label>
                <select name="" id="" class="mgr-3 bd-none bg-primary-01 pd bd">
                    <option value="Select class...">Select Class</option>
                    <option value="JSS 1">JSS 1</option>
                    <option value="JSS 2">JSS 2</option>
                    <option value="JSS 3">JSS 3</option>
                    <option value="SS 1">SS 1</option>
                </select>
                <select name="" id="" class="mgr-3 bd-none bg-primary-01 pd bd">
                    <option value="Select Arm...">Arm</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
                <select name="" id="" class="mgr-3 bd-none bg-primary-01 pd bd">
                    <option value="Select Exam Type...">Exam Type</option>
                    <option value="Test 1">Test 1</option>
                    <option value="Test 2">Test 2</option>
                    <option value="Project">Project</option>
                    <option value="Examination">Examination</option>
                </select>
                <select name="" id="" class="mgr-3 bd-none bg-primary-01 pd bd">
                    <option value="Select Term...">Select Term</option>
                    <option value="Test 1">First Term</option>
                    <option value="Test 2">Second Term</option>
                    <option value="Project">Third Term</option>
                </select>
            </div>

            <input class="pd-5 corner-3 bd wx-3" type="text" placeholder="🔍 Search Student...">
        </div>

        <div class="wf scroll hx-5">
            <table class="fsz-20 wf scroll">
                <thead class="fw-bold bg-primary-08 cl-white">
                    <tr class="">
                        <td class="pd-5 wx-3 bg-primary-01">S/N</td>
                        <td class="pd-5 wx-3 bg-primary-01">Photo</td>
                        <td class="pd-5 wx-3">Class Name</td>
                        <td class="wx-3 pd-5">Student Name</td>
                        <td class="wx-3 pd-5">Enter Scores</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                    <tr>
                        <td class="pd-5 wx-3 bg-primary-01 bdb">1</td>
                        <td class="pd-5 wx-3 bdb">
                            <div class="round bg-primary-01 wx-1 hx-1"></div>
                        </td>
                        <td class="pd-5 wx-3 bdb">JSS 1 A</td>
                        <td class="pd-5 wx-3 bdb">Ahmed Musa</td>
                        <td class="pd-5 wx-3 mg-0 pd-0 bdb">
                            <input type="number" class="pd bd fsz-20 text-center" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="">
        <button class="pd bd bd-primary wf cl-primary bg-white corner-2 mgb-5 mgt-3 bg-none bd-primary fsz-25 settingsbtn" @onclick="ShowModal">Submit Scores</button>
    </div>
</div>


@if (showModal)
{
    <div class="formpage">
        <DeleteModal ModalText="Submit Score Entry for Approval" ConfirmCancel="Cancel"  ConfirmDelete="ConfirmScoreEntry"/>
    </div>
}


@code {
    [Parameter] public EventCallback OnCancel { get; set; }

    private bool showModal = false;

    private void HandleCancel()
    {
        OnCancel.InvokeAsync();
    }

    private void ShowModal()
    {
        showModal = !showModal;
    }

    private void ConfirmScoreEntry()
    {
        showModal = false;
    }

    private void Cancel()
    {
        showModal = false;
    }
}