<div>
    <div class="mgb-5">
        <p class="text-center fsz-15 mg-0 pdb-2 cl-primary fw-bold">BENEFITS</p>
        <h3 class="fsz-25 text-center mg-0 pdb-2">Why Schools Choose EduSmart</h3>
    </div>

    <div class="flex flow">
        <BenefitCard Img="lpage/timer.svg" Text1="80%" Text2="Reduction in Result Processing Time" />
        <BenefitCard Img="lpage/earth.svg" Text1="100%" Text2="Accurate Result Computation" />
        <BenefitCard Img="lpage/cloud.svg" Text1="24/7" Text2="Access to Academic Records" />
        <BenefitCard Img="lpage/bolt.svg" Text1="Minutes" Text2="To Publish Complete Results" />
    </div>
</div>