<div class="flex flow flex-start">
    <div class="mgb-5 mgr-15">
        <div class="flex mgb-5">
            <i class="mdi mdi-cast-education cl-white fsz-45 mgr-3"></i>
            <div class="mgt--5">
                <h2 class="mgb-1 cl-white">EduSmart</h2>
                <p class="mg-0 op-7">Smarter School Management</p>
            </div>
        </div>
        <p class="wx-3 fsz-15 op-7">EduSmart is a complete school management platform that help schools manage academic provision and improve communication.</p>
        <div>
            <i class="mdi mdi-whatsapp fsz-30"></i>
            <i class="mdi mdi-facebook fsz-30"></i>
            <i class="mdi mdi-twitter fsz-30"></i>
            <i class="mdi mdi-linkedin fsz-30"></i>
        </div>
        <p class="fsz-15 op-7">&copy 2026 EduSmart, All Rights Reserved.</p>
    </div>

    <div class="mgb-10 mgr-15">
        <h4 class="mg-0 pdb-3">Quick Links</h4>
        <div class="fsz-15 op-7">
            <NavLink href="" class="block pdt-2 cl-white" style="text-decoration: none;">Features</NavLink>
            <NavLink href="" class="block pdt-2 cl-white" style="text-decoration: none;">Pricing</NavLink>
            <NavLink href="" class="block pdt-2 cl-white" style="text-decoration: none;">About Us</NavLink>
            <NavLink href="" class="block pdt-2 cl-white" style="text-decoration: none;">Contact Us</NavLink>
            <NavLink href="" class="block pdt-2 cl-white" style="text-decoration: none;">Privacy Policy</NavLink>
        </div>
    </div>

    <div class="mgb-10 mgr-15">
        <h4 class="mg-0 pdb-3">Solutions</h4>
        <div class="fsz-15 op-7">
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">Result Management</p>
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">Student Management</p>
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">Teacher Management</p>
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">Report Generation</p>
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">Whatsapp Integration</p>
        </div>
    </div>

    <div class="mgb-10 mgr-15">
        <h4 class="mg-0 pdb-3">Support</h4>
        <div class="fsz-15 op-7">
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">Help Center</p>
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">System Requirements</p>
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">Video Tutorial</p>
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">Contact Support</p>
        </div>
    </div>

    <div class="mgb-10 mgr-15">
        <h4 class="mg-0 pdb-3">Stay Updated</h4>
        <div class="fsz-15 op-7">
            <p class="block pdt-2 cl-white mg-0" style="text-decoration: none;">Subscribe to our newsletter for product
                updates and education level.</p>
                <div class="pd pdl-0 flex">
                    <input type="text" placeholder="Enter your email..." class="bg-white pd fsz-15 bd-none">
                    <button class="mdi mdi-send fsz-15 bg-primary pd bd-none"></button>
                </div>
            </div>
        </div>
    </div>