<div id="home" class="pd-10 bg-primary-01 herosection">
    <div class="row responsive col-2">
        <div class="mgt-20 mgb-10 wf">
            <div class="pd pdt-0 pdb-0 bg-card-05 corner-5 bd flex justify mgt-10 mgb-5">
                <div class="wx-01 hx-01 bg-success round mgt-2 mgr-3"></div>
                <p class="mg-0 pd-1">#1 School Management System</p>
            </div>
            
            <p class="fsz-55 fw-bold mg-0 inline wvg-5">Smarter School Management,
                <p class="fsz-55 wvg-5 fw-bold mg-0 inline cl-primary">Better Academic Outcomes</p>
            </p>

            <p class="fsz-40 fw-bold mg-0 inline wvl-5">Smarter School Management,
                <p class="fsz-40 wvl-5 fw-bold mg-0 inline cl-primary">Better Academic Outcomes</p>
            </p>

            <p class="fsz-20" style="line-height: 1.6;">EduSmart helps schools automate result management, generate
                report cards, and deliver results to parent via WhatsApp.</p>

                <div class="grid col-2 mgb-15">
                    <div class="flex mgt-2 mgb-2">
                        <div class="round flex flex-center bg-success wx-02 hx-02 mgr-3">
                            <i class="mdi mdi-marker fsz-10"></i>
                        </div>
                        <p class="mg-0">Automated Result Computation</p>
                    </div>
                    <div class="flex mgt-3 mgb-3">
                        <div class="round flex flex-center bg-success wx-02 hx-02 mgr-3">
                            <i class="mdi mdi-marker fsz-10"></i>
                        </div>
                        <p class="mg-0">PDF Report Card Generation</p>
                    </div>
                    <div class="flex mgt-3 mgb-3">
                        <div class="round flex flex-center bg-success wx-02 hx-02 mgr-3">
                            <i class="mdi mdi-marker fsz-10"></i>
                        </div>
                        <p class="mg-0">Teacher & Administrator Portals</p>
                    </div>
                    <div class="flex mgt-3 mgb-3">
                        <div class="round flex flex-center bg-success wx-02 hx-02 mgr-3">
                            <i class="mdi mdi-marker fsz-10"></i>
                        </div>
                        <p class="mg-0">WhatsApp Result Delivery</p>
                    </div>
                    <div class="flex mgt-3 mgb-3">
                        <div class="round flex flex-center bg-success wx-02 hx-02 mgr-3">
                            <i class="mdi mdi-marker fsz-10"></i>
                        </div>
                        <p class="mg-0">Secure Cloud-Based Platform</p>
                    </div>
                </div>

                <div class="mgt-5">
                    <button class="pdt-5 pdb-5 pdl-10 pdr-10 mgb-3 fsz-15 bg-primary bd-none corner-2 mgr-5 fsz-20">Request Free
                        Demo
                        <i class="mdi mdi-arrow-right fw-bold fsz-20 mgl-10"></i>
                    </button>
                    <button
                        class="pdt-5 pdb-5 pdl-10 pdr-10 mgb-3 fsz-15 bg-card cl-primary bd-transparent bd-primary corner-2 mgr-5 fsz-20">
                        <i class="mdi mdi-video fw-bold fsz-20 mgr-10"></i>
                        Watch Product Video
                    </button>
                </div>
            </div>
            <div class="slide-in-right mgb-10">
                <img src="lpage/herolap.svg" alt="" class="wf hf mgt">
            </div>
        </div>

        <div class="pd bg-card corner-3">
            <p class="text-center mg-0 cl-primary-05">Trusted by schools committed to excellence</p>
            <div class="flex flow pd c0rner-3 mg-0">
                <TrustedSchoolCard Img="lpage/schlogo.svg" Text1="COMMAND SCHOOL" Text2="SECONDARY SCHOOL" />
                <TrustedSchoolCard Img="lpage/schlogo1.svg" Text1="GREEN WOOD" Text2="HIGH SCHOOL" />
                <TrustedSchoolCard Img="lpage/schlogo2.svg" Text1="FUTURE" Text2="ACADEMY" />
                <TrustedSchoolCard Img="lpage/schlogo3.svg" Text1="ROYAL HERITAGE" Text2="COLLEGE" />
                <TrustedSchoolCard Img="lpage/schlogo4.svg" Text1="EXCELLENCE" Text2="INTERNATIONAL SCHOOL" />
            </div>
        </div>
    </div>