@page "/"

<TopNav />

<HeroSection />

<div class="feature pd-5">
    <PowerfulFeatures />
</div>
<hr />
<div class="bg-primary-01 pd-5">
    <PowerfulResults />
</div>

<div class="bg-warning-01 pd-5">
    <Benefits />
</div>

<div class="bg-warning-01 pd-5">
    <Pricing />
</div>

<div class="bg-card-05 pd-5">
    <Trusted />
</div>

<div class="herosection pd-5">
    <SchoolForm />
</div>

<div class="bg-dark pd-5">
    <Footer />
</div>

