<div>
    <div class="mgb-5">
        <p class="text-center fsz-15 mg-0 pdb-2 cl-primary fw-bold">HOW IT WORKS</p>
        <h3 class="fsz-25 text-center mg-0 pdb-2">Simple  Steps, Powerful Results</h3>
    </div>

    <div class="flex flow">
        <ResultCard Img="lpage/pro.svg" Img1="lpage/arrowright.png" Num="1" NumBg="blue" Text1="Create classes & Students" Text2="Set up your school, classes and add students." />
        <ResultCard Img="lpage/teac.svg" Img1="lpage/arrowright.png" Num="2" NumBg="green" Text1="Assign Teachers" Text2="Assign teachers to classes and subjects." />
        <ResultCard Img="lpage/sheet.svg" Img1="lpage/arrowright.png" Num="3" NumBg="purple" Text1="Enter Scores" Text2="Teachers enter scores for assessments." />
        <ResultCard Img="lpage/security.svg" Img1="lpage/arrowright.png" Num="4" NumBg="orange" Text1="Admin Approval" Text2="Administrators review and approve submitted scores." />
        <ResultCard Img="lpage/fea1.svg" Img1="lpage/arrowright.png" Num="5" NumBg="blue" Text1="Generate Results" Text2="System Computes results and generate reports." />
        <ResultCard Img="lpage/whatsapp.png" Num="6" NumBg="green" Text1="Deliver to parents" Text2="Results are sent to parents via WhatsApp." />
    </div>
</div>