<div id="features" class="">
    <div class="mgb-10">
        <p class="text-center fsz-15 mg-0 pdb-2 cl-primary fw-bold">POWERFUL FEATURES</p>
        <h3 class="fsz-25 text-center mg-0 pdb-2">Everything You Need To Manage Your School</h3>
        <p class="text-center fsz-15 mg-0">EduSmart Provides all the tools your school needs in one secure platform.</p>
    </div>

    <div class="flex flow flex-center">
        <FeaturesCard Img="lpage/stud.svg" Text1="Student Management"
                      Text2="Early manage student records, class assignment, and academic information." />
        <FeaturesCard Img="lpage/teac.svg" Text1="Teacher Management"
                      Text2="Assign Teacher to classes and subjects with role based accessed control." />
        <FeaturesCard Img="lpage/pro.svg" Text1="Score Entry"
                      Text2="Teachers can enter scores quickly and securely for all assessments and exams." />
        <FeaturesCard Img="lpage/sheet.svg" Text1="Automated Results"
                      Text2="Automatic computation of totals, grades, positions, and class performance." />
        <FeaturesCard Img="lpage/fea1.svg" Text1="PDF Report Cards"
                      Text2="Generate professional report cards instantly and download in PDF format." />
        <FeaturesCard Img="lpage/whatsapp.png" Text1="WhatsApp Delivery"
                      Text2="Send results directly to parents WhatsApp with a single click." />
        <FeaturesCard Img="lpage/security.svg" Text1="Secure & Reliable"
                      Text2="Your data is safe with enterprise grade security and daily backups." />
        <FeaturesCard Img="lpage/analytics.png" Text1="Reports & Analytics"
                      Text2="Get insightful reports and analytics to make data driven academic decisions." />
    </div>
</div>