<div>
    <div class="mgb-5">
        <p class="text-center fsz-15 mg-0 pdb-2 cl-primary fw-bold">PRICING PLANS</p>
        <h3 class="fsz-25 text-center mg-0 pdb-2">Flexible Plans For Every School</h3>
    </div>

    <div class="flex flow mgb-5">
        <PricingCard Img="lpage/send.svg" subs="Starters Benefits" Title1="Starter" Title2="Perfect for small schools getting started" Text1="Student & Teacher Managemant" Text2="Result Managemant" Text3="PDF Report Cards" Text4="WhatsApp Delivery" Text5="Email Support" />
        <PricingCard Img="lpage/crown.svg" subs="Everything in Starter, plus;" Title1="Professional" Title2="Ideal for growing school" Text1="Advance report and Analytics" Text2="Multiple Terms & Sessions" Text3="Bulk WhatsApp Message" Text4="Privacy Support" Text5="Multiple Users Creation" />
        <PricingCard Img="lpage/bag.svg" subs="Everything in Professional, plus;" Title1="Enterprise" Title2="For large schools and institutions" Text1="Custom Integrations" Text2="Role based promotions" Text3="API Acsess" Text4="Dedicated Account Manager" Text5="On-premise Deployment Option" />
    </div>

    <div class="flex flex-center fsz-15">
        <i class="wx-01 hx-01 bg-success mdi mdi-shield mgr-3"></i>
        <p class="mg-0 pd-1">All plans include secure cloud hosting, regular backups and system updates</p>
    </div>
</div>