<div id="contact" class="row responsive col-2">
    <div class="flex mgr-5 flex-center miwx-25 mgb-10">
        <img src="icons/demoschlogo.png" alt="" class="hx-15 wx-15">
        <div>
            <h2>Ready To Transform Your School?</h2>
            <p class="fsz-15 op-5">Request a free demo today and discover how EduSmart can help you save time, reduce
                error and improve communication with parents.</p>
            </div>
        </div>

        <div class="miwx-25 mawx-7">
            <form action="" class="row responsive bg-card bd pd corner-3">
                <div class="stack mgr-3 mgb-3">
                    <label for="name" class="fsz-15 mgb-2">School Name</label>
                    <input type="text" placeholder="Enter School Name..." class="bd pd corner-2 bg-white fsz-18">
                </div>

                <div class="stack mgr-3 mgb-3">
                    <label for="person" class="fsz-15 mgb-2">Contact Person</label>
                    <input type="text" placeholder="Enter Your Name..." class="bd pd corner-2 bg-white fsz-18">
                </div>

                <div class="stack mgr-3 mgb-3">
                    <label for="phone" class="fsz-15 mgb-2">Phone Number</label>
                    <input type="number" placeholder="Enter Phone Number..." class="bd pd corner-2 bg-white fsz-18">
                </div>

                <div class="stack mgr-3 mgb-3">
                    <label for="email" class="fsz-15 mgb-2">Email Address</label>
                    <input type="email" placeholder="Enter email Address..." class="bd pd corner-2 bg-white fsz-18">
                </div>

                <div class="stack mgr-3 mgb-3">
                    <label for="name" class="fsz-15 mgb-2">Number of Student</label>
                    <select name="" id="" class="bd pd corner-2 bg-white fsz-18">
                        <option value="students">Students</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>

                <div class="stack mgr-3 mgb-3">
                    <label for="name" class="fsz-15 mgb-2">How did you hear about us?</label>
                    <select name="" id="" class="bd pd corner-2 bg-white fsz-18">
                        <option value="students">Select Medium</option>
                        <option value="20">WhatsApp</option>
                        <option value="50">Facebook</option>
                        <option value="100">Twitter</option>
                    </select>
                </div>
            </form>
            <button class="bg-success bd-none wf pd fsz-16 mgt-3 corner-2">
                <i class="mdi mdi-calendar mgr-5"></i>
                Scheldule Free Demo</button>
        </div>
    </div>