<div>
    <div class="mgb-5">
        <p class="text-center fsz-15 mg-0 pdb-2 cl-primary fw-bold">TRUSTED BY FORWARD THINKING SCHOOLS</p>
    </div>

    <div class="flex flow">
        <div class="flex flow">
            <ThinkingSchools Text1="EduSmart has transformed how we managed results. What used to take days now takes
            minutes. Parents loves
            getting result on WhatsApp instantly." Text2="Command Secondary School" />

            <ThinkingSchools Text1="EduSmart has transformed how we managed results. What used to take days now takes
            minutes. Parents loves
            getting result on WhatsApp instantly." Text2="Command Secondary School" />
        </div>

        <div class="scroll-x pos-rel">
            <div class="flex flex-center fsz-15 pd flex">
                <img src="lpage/student1.jpeg" alt="" class="wx-25 hx-15 corner-3 mgr-3">
                <img src="lpage/student2.jpeg" alt="" class="wx-2 hx-15 corner-3 mgr-3">
                <img src="lpage/school.jpeg" alt="" class="wx-28 hx-15 corner-3 mgr-3">
            </div>

            <div class="flex flex-center fsz-15 pd flex pos-abs b-0">
                <button class="mdi mdi-arrow-left fsz-20 pd round bg-dark cl-white fw-bold mgr-5 bd-none"></button>
                <button class="mdi mdi-arrow-right fsz-20 pd round bg-dark cl-white fw-bold bd-none"></button>
            </div>
        </div>
    </div>
</div>


@* <div class="corner-3 bg-card bd pd flex">
            <p class="fsz-100 mg-0 mgr-3">"</p>
            <div>
                <p class="fsz-15">EduSmart has transformed how we managed results. What used to take days now takes
                    minutes. Parents loves
                    getting result on WhatsApp instantly.</p>

                    <div>
                        <i class="mdi mdi-star cl-warning fsz-20"></i>
                        <i class="mdi mdi-star cl-warning fsz-20"></i>
                        <i class="mdi mdi-star cl-warning fsz-20"></i>
                        <i class="mdi mdi-star cl-warning fsz-20"></i>
                        <i class="mdi mdi-star cl-warning fsz-20"></i>
                    </div>
                    <p class="fsz-15 mg-0 fw-bold">Pricipal</p>
                    <p class="fsz-12 mg-0 op-5">Command Secondary School</p>
                </div>
            </div> *@